.Content{
    margin: 10rem 10rem auto;
    display: flex;
    justify-content: flex-start;
}
.Matrix{
    padding: 2rem;
}
.Summary{
    padding: 2rem;
}

.Table{
    padding-right: 2rem;
    border-right: 1px solid black;
}