.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 30rem;
  min-width: 10rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 1rem 2rem;
  left: 20%;
  top: 15%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-transition: all 0.3 ease-out;
  transition: all 0.3 ease-out;
  border-radius: .5rem;
  }