.Button{
    background-color: #f2f2f2;
    height: 2rem;
    width: 2rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
.Add{
    background-color: #fff;
    color: green;
}
.Remove{
    background-color: #fff;
    color: red;
}
.Upload{
    color: #ccc;;
}
.Create{
    max-height: 2rem;
    min-width: 7rem;
    background-color: transparent;
}